# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/

# VSCode settings
.vscode/

# Python environment files
*.egg
*.egg-info/
dist/
build/
pip-wheel-metadata/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Model files
*.pth
*.pt

# NumPy files
*.npy

# MacOS specific files
.DS_Store

# Logs and debugging
*.log

# Dataset
dataset/

# Images and data
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff

# PyTorch datasets cache
~/.torch/
~/.cache/

# Test results
htmlcov/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Temporary files
*.tmp
*.swp
*.bak
*.old
